<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.6/dist/full.css" rel="stylesheet" type="text/css" />
    <title>GS CMS</title>
</head>
<body class="text-white p-8 flex flex-col gap-8 items-center">

    <div id="app">

        <!-- Filter Wrapper -->
        <div class="w-full p-8 flex items-center flex-col gap-8">
            <div class="flex flex-col gap-4 sm:flex-row">
                <!-- Category Filter -->
                <select id="categoryFilter" v-model="categoryFilter" class="appearance-none bg-slate-50 rounded-md text-emerald-400 p-2">
                    <option value="">All</option>
                    <option v-for="category in categories" :value="category" :key="category">{{ category }}</option>
                </select>
                <!-- Tag Filter -->
                <select id="tagFilter" v-model="tagFilter" class="appearance-none bg-slate-50 rounded-md text-emerald-400 p-2">
                    <option value="">All</option>
                    <option v-for="tag in tags" :value="tag" :key="tag">{{ tag }}</option>
                </select>
            </div>
        </div>

        <!-- Post Wrapper -->
        <ul class="w-full p-8 flex items-center flex-col gap-8">
            <!-- Posts -->
            <li v-for="post in filteredPosts" :key="post.id" class="w-4/5 border border-white">
                <div class="w-full p-4 border border-white text-xl text-emerald-400">{{ post.title }}</div>
                <div class="w-full p-4 border border-white text-xs text-emerald-100">{{ post.category }}</div>
                <div class="w-full p-4 border border-white">{{ post.content }}</div>
                <div class="w-full p-4 border border-white text-xl text-emerald-400"><img :src="post.thumbnail" :alt="post.alt"></div>
                <div class="w-full p-4 border border-white text-xs text-emerald-100">{{ post.tag }}</div>
            </li>
        </ul>

    </div>

    <script src="app.js"></script>
</body>
</html>
